.btn {
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
    @extend .z-depth-1;
    &:hover {
        @extend .z-depth-1-half;
    }
    
    &.btn-white-outline {
        @extend .btn-info-outline;
        color: white;
        border-color: white;
        &:hover {
            color: white;
            border-color: white;
            // background-color: lighten($brand-primary, 8%);
        }
    }
    
    &.btn-primary {
        &:hover {
            background-color: lighten($brand-primary, 8%);
            border-color: lighten($brand-primary, 8%);
        }
    }
    
    &.btn-info {
        &:hover {
            background-color: lighten($brand-info, 8%);
            border-color: lighten($brand-info, 8%);
        }
    }
    
    &.btn-danger {
        &:hover {
            background-color: lighten($brand-danger, 8%);
            border-color: lighten($brand-danger, 8%);
        }
    }
    
}



.card-inverse {
    .btn {
        // border-color: white;
    }
}

.fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 3001;
    
}

// http://materializecss.com/buttons.html
.btn-fab {
    // background-color: $brand-danger;
    // border-bottom-color: $brand-danger;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-size: 21px;
    font-weight: normal;
    height: 55.5px;
    letter-spacing: 0.5px;
    line-height: 54px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 55.5px;
}

.close {
    opacity: 1;
}

.modal {
    .close {
        font-size: 37px;
    }
}