.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("../../images/ajax-loader.gif") center center no-repeat;
    }
    .slick-slide {
        padding-left:  ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
        // padding-left: 0.8rem;
        // padding-right: 1rem;
        // padding-left: $grid-gutter-width;
        // padding-right: $grid-gutter-width;
    }
}
.slick-dots {
    li {
        button {
            &:before {
                content: $slick-dot-character;
            }
            &:hover {
                &:before {
                    content: $slick-active-dot-character;
                }
            }
        }
        &.slick-active {
            button {
                &:before {
                    content: $slick-active-dot-character;
                }
            }
        }
    }
}

.slick-dots-vertical {
    display: block;
    top: 0;
    left: 0;
    width: 50px;
    li {
        button {
        }
        &.slick-active {
            button {
            }
        }
    }
}

.slick-prev,
.slick-next {
    &:hover, &:focus {
        &:before {
            opacity: $slick-arrow-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-arrow-opacity-disabled;
    }
}

#services_carousel {
    .card-img-top {
        max-height: 250px;
    }
    .media-object {
        // max-width: 250px;
        max-height: 250px;
        vertical-align: middle;
        margin-right: 80px;
    }
    .media-body {
        vertical-align: middle;
    }
    .card {
        border: none;
    }
}

#credentials_carousel {
    .img-fluid {
        // max-width: 75%; // because screenshots are zoomed screenshots with 150%;
    }
    // sub carousels
    #chou-chou-berlin_carousel, #jewelberry_carousel {
        @extend .z-depth-1;
        @extend .hoverable;
        &:hover {
            @extend .z-depth-2;
        }
        .slick-list {
             .slick-slide {
                 padding: 0;
             }
        }
    }
}



$project-jewelberry-color: #ffa29f;

#jewelberry_carousel {
    &.img-thumbnail {
        border-color: $project-jewelberry-color;
    }
    .slick-dots {
        li {
            button {
                &:before {
                    color: $project-jewelberry-color;
                }
            }
        }
    }
}

$project-chou-chou-berlin-color: #000;

#chou-chou-berlin_carousel {
    &.img-thumbnail {
        border-color: $project-chou-chou-berlin-color;
    }
    .slick-dots {
        li {
            button {
                &:before {
                    color: $project-chou-chou-berlin-color;
                }
            }
        }
    }
}
