#development, #location {
    
    .card-footer {
        bottom: 0;
        position: absolute;
        left: 0;
        right: 0;
        background-color: transparent;
        border: none;
    }
    
    .card {
        // padding-bottom: 65px;
    }
}

#development, #blogposts {
    .card {
        @extend .z-depth-1;
        @extend .hoverable;
        &:hover {
            @extend .z-depth-2;
        }
    }
}

#service {
    .card {
        border: none;
    }
}

#location {
    .card {
        min-height: $location-height;
        margin-bottom: 0;
    }
}

@include media-breakpoint-down(sm) {
    #location {
        .card {
            min-height: 13rem;
        }
    }
}

.card {
    &.card-inverse {
        .card-text {
            color: #fff;
        }
    }
}