.navbar-main {
    // z-index: 3000; // to make it over sidebar mask
    
    -webkit-transition: opacity 250ms ease-in-out;
    -moz-transition: opacity 250ms ease-in-out;
    -ms-transition: opacity 250ms ease-in-out;
    -o-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
    opacity: 1;
    
    .navbar-brand {
        min-width: 40px;
        background-image: url(../images/logos/logo_inverse.svg);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: auto 100%;
        padding-left: 50px;
        height: 2.7rem;
        opacity: 1;
    }
    &.affix--blw {
        position: fixed;
        top: 0;
        @extend .navbar-fixed-top;
    }
    &.affix--abv {
       @extend .navbar-static-top;
    }
    
    &.hidden {
        opacity: 0;
        //visibility: hidden;
    }
    
    // border-bottom: 2px solid $brand-danger;
}

.navbar-nav {
  .nav-link {
    padding-top:    .6rem;
    padding-bottom: .6rem;
    &.active {
        font-weight: bold;
    }
  }
  &.bg-danger {
      color: white;
  }
}

.navbar-dark {
    .navbar-toggler {
        color: #fff;
    }
}