#sidebar {
    display: none;
    .sidebar-wrapper {
        padding-top: $navbar-height;
        top: 0;
        position: relative;
        height: 100%;
        overflow: auto;
        // background-color: $brand-primary;
        .list-group-item {
            @extend .bg-inverse;
            border: none;
            border-radius: 0;
            background-color: $brand-primary;
        }
        .sidebar-brand {
            padding-left: 1.25rem; // TODO get variable of left list-group-item padding
            padding-right: 1.25rem;
            max-width: 7rem;
            display: block;
        }
    }
}

    