@import 'variables';

// text positions
.carousel-caption-wrapper {
    position: absolute;
    display: flex;
    .carousel-caption-wrapper.top {
        top: 0;
        padding-top: 0;
    }
    
    &.center {
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        img {
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    &.middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        bottom: 0;
        top: 0;
        height: 100%;
    }
    
    &.bottom {
        bottom: 0;
        padding-bottom: 0;
    }
    
    &.left {
        left: 0;
        right: inherit;
    }
    
    &.right {
        left: inherit;
        right: 0;
    }
    
    .carousel-caption-content {
        padding: 15px;
    }
}

// needed for textposition
.slick-list {
    .slick-slide {
        position: relative;
    }
}

// additional styles for dots
.slick-dots {
    li {
        button {
            &:before {
                content: $slick-dot-character;
            }
            &:hover {
                &:before {
                    content: $slick-active-dot-character;
                }
            }
        }
        &.slick-active {
            button {
                &:before {
                    content: $slick-active-dot-character;
                }
            }
        }
    }
}

// for vertical dots
.slick-dots-vertical {
    display: block;
    top: 0;
    left: 0;
    width: 50px;
    li {
        button {
        }
        &.slick-active {
            button {
            }
        }
    }
}

// additional style for prev and next
.slick-prev,
.slick-next {
    &:hover, &:focus {
        &:before {
            opacity: $slick-arrow-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-arrow-opacity-disabled;
    }
}
