
.carousel-caption-wrapper {
    position: absolute;
    display: flex;
}

.carousel-caption-wrapper.top {
    position: absolute;
    top: 0;
    padding-top: 0;
}

.carousel-caption-wrapper.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    top: 0;
}

.carousel-caption-wrapper.bottom {
    bottom: 0;
    padding-bottom: 0;
}

.carousel-caption-wrapper.left {
    left: 0;
    right: inherit;
}

.carousel-caption-wrapper.center {
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.carousel-caption-wrapper.center {
    left: inherit;
    right: 0;
}

.carousel-caption-wrapper.carousel-caption-content {
    width: 25%; /*todo*/
}

