{% if __SELF__.slideshow.slides %}

    {% set autoplayIndex = -1 %}

    <div id='{{ str_camel(__SELF__.alias) }}' class="slick-carousel">
        {% for i, slide in __SELF__.slideshow.slides %}
            {% if __SELF__.slideshow.slides %}
                {% if slide.link %}
                    {% set slickSlideElement = 'a' %}
                {% else %}
                    {% set slickSlideElement = 'div' %}
                {% endif %}
                <{{slickSlideElement}} href="{{ slide.link }}" id="{{ str_camel(__SELF__.alias) }}-slide-{{loop.index}}" class="slick-slide">
                    {% if slide.mp4 != blank or slide.webm != blank or slide.ogg != blank %}

                        {% if __SELF__.property('autoplayOnShow') and loop.index == (__SELF__.property('initialSlide') != blank ? __SELF__.property('initialSlide') + 1 : 1) %}
                            {% set autoplayIndex = loop.index %}
                        {% endif %}

                        <div class="carousel-video-wrapper">
                            {% if slide.aspect_ratio == 'custom' %}
                                <div class="box" style="padding-top: {{ 100.0 / slide.custom_ratio}}%;">
                                    <video id="{{ str_camel(__SELF__.alias) }}-slide-{{loop.index}}-video" preload autoplay muted width="100%" poster="{{ slide.image.path }}">
                                        {% if slide.mp4 != blank %}
                                            <source src="{{slide.mp4.path}}" type="video/mp4">
                                        {% endif %}
                                        {% if slide.ogg != blank %}
                                            <source src="{{slide.ogg.path}}" type="video/ogg">
                                        {% endif %}
                                        {% if slide.webm != blank %}
                                            <source src="{{slide.webm.path}}" type="video/webm">
                                        {% endif %}
                                    </video>
                                </div>
                            {% elseif slide.aspect_ratio != blank %}
                                <div class="box {{slide.aspect_ratio}}">
                                    <video id="{{ str_camel(__SELF__.alias) }}-slide-{{loop.index}}-video" preload autoplay muted width="100%" poster="{{ slide.image.path }}">
                                        {% if slide.mp4 != blank %}
                                            <source src="{{slide.mp4.path}}" type="video/mp4">
                                        {% endif %}
                                        {% if slide.ogg != blank %}
                                            <source src="{{slide.ogg.path}}" type="video/ogg">
                                        {% endif %}
                                        {% if slide.webm != blank %}
                                            <source src="{{slide.webm.path}}" type="video/webm">
                                        {% endif %}
                                    </video>
                                </div>
                            {% elseif __SELF__.property('aspectRatio') == 'custom' %}
                                <div class="box" style="padding-top: {{ 100.0 / __SELF__.property('customtRatio') }}%">
                                    <video id="{{ str_camel(__SELF__.alias) }}-slide-{{loop.index}}-video" preload autoplay muted width="100%" poster="{{ slide.image.path }}">
                                        {% if slide.mp4 != blank %}
                                            <source src="{{slide.mp4.path}}" type="video/mp4">
                                        {% endif %}
                                        {% if slide.ogg != blank %}
                                            <source src="{{slide.ogg.path}}" type="video/ogg">
                                        {% endif %}
                                        {% if slide.webm != blank %}
                                            <source src="{{slide.webm.path}}" type="video/webm">
                                        {% endif %}
                                    </video>
                                </div>
                            {% elseif __SELF__.property('aspectRatio') != blank %}
                                <div class="box {{ __SELF__.property('aspectRatio') }}">
                                    <video id="{{ str_camel(__SELF__.alias) }}-slide-{{loop.index}}-video" preload autoplay muted width="100%" poster="{{ slide.image.path }}">
                                        {% if slide.mp4 != blank %}
                                            <source src="{{slide.mp4.path}}" type="video/mp4">
                                        {% endif %}
                                        {% if slide.ogg != blank %}
                                            <source src="{{slide.ogg.path}}" type="video/ogg">
                                        {% endif %}
                                        {% if slide.webm != blank %}
                                            <source src="{{slide.webm.path}}" type="video/webm">
                                        {% endif %}
                                    </video>
                                </div>
                            {% else %}
                                <video id="{{ str_camel(__SELF__.alias) }}-slide-{{loop.index}}-video" preload autoplay muted width="100%" poster="{{ slide.image.path }}">
                                    {% if slide.mp4 != blank %}
                                        <source src="{{slide.mp4.path}}" type="video/mp4">
                                    {% endif %}
                                    {% if slide.ogg != blank %}
                                        <source src="{{slide.ogg.path}}" type="video/ogg">
                                    {% endif %}
                                    {% if slide.webm != blank %}
                                        <source src="{{slide.webm.path}}" type="video/webm">
                                    {% endif %}
                                </video>
                            {% endif %}

                            {% if slide.name != blank or slide.description != blank  %}
                                <div class="carousel-caption-wrapper {{slide.caption_position != 'auto' ? slide.caption_position : __SELF__.property('captionPosition')}}">
                                    <div class="carousel-caption-content">
                                        <h2>{{ slide.name | raw }}</h2>
                                        {{ slide.description | raw }}
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    {% else %}
                        <div class="carousel-image-wrapper">

                            {% if slide.aspect_ratio == 'custom' %}
                                <div class="background-box" style="padding-top: {{ 100.0 / slide.custom_ratio}}%; background-image: url({{ slide.image.path }});" alt="{{ slide.image.path }}"></div>
                            {% elseif slide.aspect_ratio != blank %}
                                <div class="background-box {{slide.aspect_ratio}}" style="background-image: url({{ slide.image.path }});" alt="{{ slide.image.path }}"></div>
                            {% elseif __SELF__.property('aspectRatio') == 'custom' %}
                                <div class="background-box" style="padding-top: {{ 100.0 / __SELF__.property('customRatio') }}%; background-image: url({{ slide.image.path }});" src="{{ slide.image.path }}" alt="{{ slide.image.path }}"></div>
                            {% elseif __SELF__.property('aspectRatio') != blank %}
                                <div class="background-box {{ __SELF__.property('aspectRatio') }}" style="background-image: url({{ slide.image.path }});" src="{{ slide.image.path }}" alt="{{ slide.image.path }}"></div>
                            {% else %}
                                <div class="img-responsive img-fluid" src="{{ slide.image.path }}" alt="{{ slide.image.path }}"></div>
                            {% endif %}

                            {% if __SELF__.property('showCaptions') and (slide.name != blank or slide.description != blank)  %}
                                <div class="carousel-caption-wrapper {{slide.caption_position != 'auto' ? slide.caption_position : __SELF__.property('captionPosition')}}">
                                    <div class="carousel-caption-content">
                                        <h2>{{ slide.name | raw }}</h2>
                                        {{ slide.description | raw }}
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    {% endif %}
                </{{slickSlideElement}}>
            {% endif %}
        {% endfor %}
    </div>

    {% put scripts %}
        <script type="text/javascript">
            var {{ str_camel(__SELF__.alias) }}Settings = {
                {{ __SELF__.property('accessibility') == blank ? '//' : '' }}    accessibility:      Boolean( {{ __SELF__.property('accessibility') }} ) === true ,
                {{ __SELF__.property('adaptiveHeight') == blank ? '//' : '' }}   adaptiveHeight:     Boolean( {{ __SELF__.property('adaptiveHeight') }} ) === true,
                {{ __SELF__.property('autoplay') == blank ? '//' : '' }}         autoplay:           Boolean( {{ __SELF__.property('autoplay') }} ) === true,
                {{ __SELF__.property('autoplaySpeed') == blank ? '//' : '' }}    autoplaySpeed:      Number( {{ __SELF__.property('autoplaySpeed') }} ),
                {{ __SELF__.property('arrows') == blank ? '//' : '' }}           arrows:             Boolean( {{ __SELF__.property('arrows') }} ) === true,
                {{ __SELF__.property('asNavFor') == blank ? '//' : '' }}         asNavFor:           String("{{ __SELF__.property('asNavFor') }}"), 
                {{ __SELF__.property('appendArrows') == blank ? '//' : '' }}     appendArrows:       {{ __SELF__.property('appendArrows') | raw}},
                {{ __SELF__.property('appendDots') == blank ? '//' : '' }}       appendDots:         {{ __SELF__.property('appendDots') | raw}},
                {{ __SELF__.property('prevArrow') == blank ? '//' : '' }}        prevArrow:          String('{{ __SELF__.property("prevArrow") | raw}}'),
                {{ __SELF__.property('nextArrow') == blank ? '//' : '' }}        nextArrow:          String('{{ __SELF__.property("nextArrow") | raw}}'),
                {{ __SELF__.property('centerMode') == blank ? '//' : '' }}       centerMode:         Boolean("{{ __SELF__.property('accessibility') }}") === true,
                {{ __SELF__.property('centerPadding') == blank ? '//' : '' }}    centerPadding:      String("{{__SELF__.property('centerPadding')}}"),
                {{ __SELF__.property('cssEase') == blank ? '//' : '' }}          cssEase:            String("{{__SELF__.property('cssEase')}}"),
                {{ __SELF__.property('customPaging') == blank ? '//' : '' }}     customPaging:       {{__SELF__.property('customPaging') | raw}} ,
                {{ __SELF__.property('dots') == blank ? '//' : '' }}             dots:               Boolean( {{ __SELF__.property('dots') }} ) === true,
                {{ __SELF__.property('dotsClass') == blank ? '//' : '' }}        dotsClass:          String("{{__SELF__.property('dotsClass')}}"),
                {{ __SELF__.property('draggable') == blank ? '//' : '' }}        draggable:          Boolean( {{ __SELF__.property('draggable') }} ) === true,
                {{ __SELF__.property('fade') == blank ? '//' : '' }}             fade:               Boolean( {{ __SELF__.property('fade') }} ) === true,
                {{ __SELF__.property('focusOnSelect') == blank ? '//' : '' }}    focusOnSelect:      Boolean( {{ __SELF__.property('focusOnSelect') }} ) === true,
                {{ __SELF__.property('easing') == blank ? '//' : '' }}           easing:             String("{{__SELF__.property('easing')}}"),
                {{ __SELF__.property('edgeFriction') == blank ? '//' : '' }}     edgeFriction:       parseFloat({{__SELF__.property('edgeFriction')}}),
                {{ __SELF__.property('infinite') == blank ? '//' : '' }}         infinite:           Boolean( {{ __SELF__.property('infinite') }} ) === true,
                {{ __SELF__.property('initialSlide') == blank ? '//' : '' }}     initialSlide:       Number( {{ __SELF__.property('initialSlide') }} ),
                {{ __SELF__.property('lazyLoad') == blank ? '//' : '' }}         lazyLoad:           String("{{__SELF__.property('lazyLoad')}}"),
                {{ __SELF__.property('mobileFirst') == blank ? '//' : '' }}      mobileFirst:        Boolean( {{ __SELF__.property('mobileFirst') }} ) === true,
                {{ __SELF__.property('pauseOnFocus') == blank ? '//' : '' }}     pauseOnFocus:       Boolean( {{ __SELF__.property('pauseOnFocus') }} ) === true,
                {{ __SELF__.property('pauseOnHover') == blank ? '//' : '' }}     pauseOnHover:       Boolean( {{ __SELF__.property('pauseOnHover') }} ) === true,
                {{ __SELF__.property('pauseOnDotsHover') == blank ? '//' : '' }} pauseOnDotsHover:   Boolean( {{ __SELF__.property('pauseOnDotsHover') }} ) === true,
                {{ __SELF__.property('respondTo') == blank ? '//' : '' }}        respondTo:          String("{{__SELF__.property('respondTo')}}"),
                            
                {{ __SELF__.property('responsive') == blank ? '//' : '' }}       responsive:         {{__SELF__.property('responsive') | raw}},
                            
                {{ __SELF__.property('rows') == blank ? '//' : '' }}             rows:               Number( {{ __SELF__.property('rows') }} ),
                {{ __SELF__.property('slide') == blank ? '//' : '' }}            slide:              String("{{__SELF__.property('slide')}}"),
                {{ __SELF__.property('slidesPerRow') == blank ? '//' : '' }}     slidesPerRow:       Number( {{ __SELF__.property('slidesPerRow') }} ),
                {{ __SELF__.property('slidesToShow') == blank ? '//' : '' }}     slidesToShow:       Number( {{ __SELF__.property('slidesToShow') }} ),
                {{ __SELF__.property('slidesToScroll') == blank ? '//' : '' }}   slidesToScroll:     Number( {{ __SELF__.property('slidesToScroll') }} ),
                {{ __SELF__.property('speed') == blank ? '//' : '' }}            speed:              Number( {{ __SELF__.property('speed') }} ),
                {{ __SELF__.property('swipe') == blank ? '//' : '' }}            swipe:              Boolean( {{ __SELF__.property('swipe') }} ) === true,
                {{ __SELF__.property('swipeToSlide') == blank ? '//' : '' }}     swipeToSlide:       Boolean( {{ __SELF__.property('swipeToSlide') }} ) === true,
                {{ __SELF__.property('touchMove') == blank ? '//' : '' }}        touchMove:          Boolean( {{ __SELF__.property('touchMove') }} ) === true,
                {{ __SELF__.property('touchThreshold') == blank ? '//' : '' }}   touchThreshold:     Number( {{ __SELF__.property('touchThreshold') }} ),
                {{ __SELF__.property('useCSS') == blank ? '//' : '' }}           useCSS:             Boolean( {{ __SELF__.property('useCSS') }} ) === true,
                {{ __SELF__.property('useTransform') == blank ? '//' : '' }}     useTransform:       Boolean( {{ __SELF__.property('useTransform') }} ) === true,
                {{ __SELF__.property('variableWidth') == blank ? '//' : '' }}    variableWidth:      Boolean( {{ __SELF__.property('variableWidth') }} ) === true,
                {{ __SELF__.property('vertical') == blank ? '//' : '' }}         vertical:           Boolean( {{ __SELF__.property('vertical') }} ) === true,
                {{ __SELF__.property('verticalSwiping') == blank ? '//' : '' }}  verticalSwiping:    Boolean( {{ __SELF__.property('verticalSwiping') }} ) === true,
                {{ __SELF__.property('rtl') == blank ? '//' : '' }}              rtl:                Boolean( {{ __SELF__.property('rtl') }} ) === true,
                {{ __SELF__.property('waitForAnimate') == blank ? '//' : '' }}   waitForAnimate:     Boolean( {{ __SELF__.property('waitForAnimate') }} ) === true,
                {{ __SELF__.property('zIndex') == blank ? '//' : '' }}           zIndex:             Number( {{ __SELF__.property('zIndex') }}),
            };
        
    {% endput %}

    {# TODO: CLEAN UP THE FOLLOWING MESS AND ADD SOME COMMENTING #}
        {% put scripts %}
            var {{str_camel(__SELF__.alias)}}PlayingVideo = null;
            var {{str_camel(__SELF__.alias)}}Pause = function() {
                if ({{str_camel(__SELF__.alias)}}PlayingVideo == null)
                    $('#{{ str_camel(__SELF__.alias) }}').slick('slickPause');
                else
                {                    
                    var theId='{{ str_camel(__SELF__.alias) }}-slide-'+({{str_camel(__SELF__.alias)}}PlayingVideo+1)+'-video';
                    var theVideo = document.getElementById(theId);
                    if (theVideo != null) {
                        theVideo.pause();
                }
            }
            var {{str_camel(__SELF__.alias)}}Play = function() {
                if ({{str_camel(__SELF__.alias)}}PlayingVideo == null)
                    $('#{{ str_camel(__SELF__.alias) }}').slick('slickPlay');
                else
                {                    
                    var theId='{{ str_camel(__SELF__.alias) }}-slide-'+({{str_camel(__SELF__.alias)}}PlayingVideo+1)+'-video';
                    var theVideo = document.getElementById(theId);
                    if (theVideo != null) {
                        theVideo.play();
                }
            }
    {% if __SELF__.property('nextSlideOnEnd') == 1 %}
        {% put scripts %}
            var {{ str_camel(__SELF__.alias) }}onVideoEnd = function() {
                $('#{{ str_camel(__SELF__.alias) }}').slick('slickPlay');
            };
            var {{ str_camel(__SELF__.alias) }}onFirstVideoEnd = function() {
                var theId='{{ str_camel(__SELF__.alias) }}-slide-'+{{autoplayIndex}}+'-video';
                var theVideo = document.getElementById(theId);
                if (theVideo != null)
                    theVideo.addEventListener('ended', {{ str_camel(__SELF__.alias) }}onVideoEnd);
                $('#{{ str_camel(__SELF__.alias) }}').slick('slickSetOption', 'autoplay', Boolean( {{ __SELF__.property('autoplay') }} ) === true, true);
                $('#{{ str_camel(__SELF__.alias) }}').slick('slickPlay');
            };

            for (var i=0; i<{{__SELF__.slideshow.slides|length}}; i++)
            {
                var theId='{{ str_camel(__SELF__.alias) }}-slide-'+(i+1)+'-video';
                var theVideo = document.getElementById(theId);
                if (theVideo != null) {
                    if (i+1 == {{autoplayIndex}})
                        theVideo.addEventListener('ended', {{ str_camel(__SELF__.alias) }}onFirstVideoEnd);
                    else
                        theVideo.addEventListener('ended', {{ str_camel(__SELF__.alias) }}onVideoEnd);
                }
            }
        {% endput %}
    {% endif %}
    {% if __SELF__.property('autoplayOnShow') == 1 %}
        {% put scripts %}
            $('#{{ str_camel(__SELF__.alias) }}').on('afterChange', function(event, slick, currentSlide){
                console.log("onAfterChange", currentSlide);
                var theId='{{ str_camel(__SELF__.alias) }}-slide-'+(currentSlide+1)+'-video';
                var theVideo = document.getElementById(theId);
                if (theVideo != null) {
                    $('#{{ str_camel(__SELF__.alias) }}').slick('slickPause');
                    theVideo.play();
                    {{ str_camel(__SELF__.alias) }}playingVideo=currentSlide;
                }
                else
                    {{ str_camel(__SELF__.alias) }}playingVideo=null;
            });
        {% endput %}
        {% if autoplayIndex != -1 %}
            {% put scripts %}
            $('#{{ str_camel(__SELF__.alias) }}').on('init reInit', function(event, slick) {
                console.log("on", event.type);
                var theId='{{ str_camel(__SELF__.alias) }}-slide-{{autoplayIndex}}-video';
                console.log("theVideo with id", theId);
                var theVideo = document.getElementById(theId);
                if (theVideo != null) {
                    console.log("!= null");
                    {{ str_camel(__SELF__.alias) }}Settings.autoplay=false;
                    //$('#{{ str_camel(__SELF__.alias) }}').slick('slickPause');
                    theVideo.play();
                    playingVideo=currentSlide;
                }
                else console.log("== null");
            });
            {% endput%}
        {% endif %}
    {% endif %}
    {% put scripts %}
            $('#{{ str_camel(__SELF__.alias) }}').slick({{ str_camel(__SELF__.alias) }}Settings);
        </script>
    {% endput %}
{% endif %}
