{% if __SELF__.slideshow.slides %}
    <div id='jlslideshow{{__SELF__.slideshow.id}}'>

    {% for i, slide in __SELF__.slideshow.slides %}
          <a href="{{ slide.link }}">  <!-- slide.href -->
            <div class="background-box ratio-16-9" style="background-image: url({{ slide.image.path }});">
            {% if slide.title != blank or slide.description != blank %} <!-- slide.text -->
              <div class="carousel-caption col-xs-12 col-sm-6 col-md-4 col-lg-4 {{__SELF__.property('captionPosition')}}"> <!--   slide.position  -->
                <div class="carousel-caption-wrapper m-x-2 m-y-2">
                  <h2>{{ slide.title | raw }}</h2>
                  {{ slide.description | raw }} <!-- slide.text -->
                </div>
              </div>
            {% endif %}
            </div>
          </a>
    {% endfor %}
    </div>

    {% put scripts %}
        <script type="text/javascript">
            var slickSettings = {
                accessibility:      Boolean( {{ __SELF__.property('accessibility') }} ) === true ,   // true
                adaptiveHeight:     Boolean( {{ __SELF__.property('adaptiveHeight') }} ) === true,  // false
                autoplay:           Boolean( {{ __SELF__.property('autoplay') }} ) === true,  // false
                autoplaySpeed:      Number( {{ __SELF__.property('autoplaySpeed') }} ),   // 3000
                arrows:             Boolean( {{ __SELF__.property('arrows') }} ) === true ,   // true
                // asNavFor
                // appendArrows
                // appendDots
                // prevArrow
                // nextArrow
                centerMode:         Boolean( {{ __SELF__.property('accessibility') }} ) === true ,   // false
                centerPadding:      String("{{__SELF__.property('centerPadding')}}"), // '50px'
                cssEase:            String("{{__SELF__.property('cssEase')}}"), // 'cssEase'
                // customPaging
                dots:               Boolean( {{ __SELF__.property('dots') }} ) === true ,   // false
                // dotsClass
                draggable:          Boolean( {{ __SELF__.property('draggable') }} ) === true ,   // false,
                fade:               Boolean( {{ __SELF__.property('fade') }} ) === true ,   // false
                focusOnSelect:      Boolean( {{ __SELF__.property('focusOnSelect') }} ) === true ,   // false
                easing:             String("{{__SELF__.property('easing')}}"), // 'linear'
                edgeFriction:       parseFloat({{__SELF__.property('edgeFriction')}}),   // 0.15
                infinite:           Boolean( {{ __SELF__.property('infinite') }} ) === true ,   // true
                initialSlide:       Number( {{ __SELF__.property('initialSlide') }} ),   // 0
                lazyLoad:           String("{{__SELF__.property('lazyLoad')}}"), // 'onDemand'
                mobileFirst:        Boolean( {{ __SELF__.property('mobileFirst') }} ) === true ,   // false
                pauseOnFocus:       Boolean( {{ __SELF__.property('pauseOnFocus') }} ) === true ,   // true
                pauseOnHover:       Boolean( {{ __SELF__.property('pauseOnHover') }} ) === true ,   // true
                pauseOnDotsHover:   Boolean( {{ __SELF__.property('pauseOnDotsHover') }} ) === true ,   // false
                // respondTo: 'window'
                // responsive
                rows:               Number( {{ __SELF__.property('rows') }} ),   // 1
                // slide
                slidesPerRow:       Number( {{ __SELF__.property('slidesPerRow') }} ),   // 1
                slidesToShow:       Number( {{ __SELF__.property('slidesToShow') }} ),   // 1
                slidesToScroll:     Number( {{ __SELF__.property('slidesToScroll') }} ),   // 1
                speed:              Number( {{ __SELF__.property('speed') }} ),   // 300
                swipe:              Boolean( {{ __SELF__.property('swipe') }} ) === true ,   // true
                swipeToSlide:       Boolean( {{ __SELF__.property('swipeToSlide') }} ) === true ,   // false
                touchMove:          Boolean( {{ __SELF__.property('touchMove') }} ) === true ,   // true
                touchThreshold:     Number( {{ __SELF__.property('touchThreshold') }} ),   // 5
                useCSS:             Boolean( {{ __SELF__.property('useCSS') }} ) === true ,   // true
                useTransform:       Boolean( {{ __SELF__.property('useTransform') }} ) === true ,   // true
                variableWidth:      Boolean( {{ __SELF__.property('variableWidth') }} ) === true ,   // false
                vertical:           Boolean( {{ __SELF__.property('vertical') }} ) === true ,   // false
                verticalSwiping:    Boolean( {{ __SELF__.property('verticalSwiping') }} ) === true ,   // false
                rtl:                Boolean( {{ __SELF__.property('rtl') }} ) === true ,   // false
                waitForAnimate:     Boolean( {{ __SELF__.property('pauseOnDotsHover') }} ) === true ,   // true
                // zIndex: 1000
            };

            $('#jlslideshow{{__SELF__.slideshow.id}}').slick(slickSettings);
        </script>
    {% endput %}

{% endif %}